<div data-role="header" data-position="fixed" data-theme="a">
    <a href="./" class="ui-btn ui-btn-icon-notext ui-icon-carat-l" data-rel="back" data-ajax="false"
       data-direction="reverse">Back</a>

    <h1>[CurrentLibraryItem.Name]</h1>

    <div data-type="horizontal" data-role="controlgroup" class="ui-btn-right">
        <a href="./remote.html" class="ui-btn ui-icon-grid ui-btn-icon-notext">remote</a>
        <a href="#" data-rel="popup" data-position-to="window" data-transition="pop"
           class="ui-btn ui-icon-cogs ui-btn-icon-notext"
           data-ajax="false">setting</a>
        <a id="#currentZone" href="./index.html" class="ui-btn ui-icon-action ui-btn-icon-left">[ActiveZoneName]</a>
    </div>
</div>
