<div data-role="popup" id="play-file-dialog" datadata-dismissible="true" data-theme="a"
     style="width:400px;">
    <ul data-role="listview" data-inset="true">
        <li id="playDialog-title" data-role="list-divider">{Play}</li>
        <li><a href="#" onclick="$jqmRemote.playDialogDo('play')">{Play}</a></li>
        <li><a href="#" onclick="$jqmRemote.playDialogDo('add-to-end')">{Add}</a></li>
        <li><a href="#" onclick="$jqmRemote.playDialogDo('add-as-next')">{Add (as next to play)}</a></li>
    </ul>
</div>
